<!DOCTYPE html>
<!-- TODO <span id="originalTitle">{{res.original_title}}</span> -->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>theMovies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://png.icons8.com/color/50/000000/popcorn-maker.png" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
</head>

<body>
    <header id="siteHeader">
        <div id="homepage">
            <i class="fas fa-film"></i>
            theMovies
        </div>
    </header>
    <input type="text" id="searchInput" placeholder="Search">

    <!-- -    <div id="mainDiv" class="post"></div> -->
    <div id="cardsDiv"></div>
    <div id="detailsDiv"></div>

    <footer></footer>

    <!-- templates: m-card-template  &  m-details-template  -->
    <script id="m-card-template" type="x-text/handlebars-template">
        {{#each res.results}}
        <div id="{{id}}" class="item-card">

            <div class="posterDiv">
                <img id="card-poster" src="{{posterUrl}}">
            </div>

            <div class="infoDiv">
                <div id="infoMain">
                    <h4 class="title">{{title}}</h4>
                    {{#each genre}}
                    <p class="genres">{{id}}</p>
                    {{/each}}

                    <p class="overview">{{overview}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </script>
    
    <script id="m-details-template" type="x-text/handlebars-template">
        <div class="background-details" style="background-image: url('{{res.backdropUrl}}')">
        </div>
        
        <div class="back-btn"><i class="fab fa-imdb">WHY?</i></div>

        <div class="item-details">
            <div class="poster-details">
                <img id="poster-details" src="{{res.posterUrl}}" alt="">
            </div>
            
            <div class="info-details"> 
                <h3 id="title">{{res.original_title}}</h3>
                <div id="release">{{res.formatedDate}}</div>

                <div id="link">
                    <a href="{{res.homepage}}"><i class="fas fa-globe"></i></a>
                    <a href="{{res.imdbUrl}}"><i class="fab fa-imdb"></i></a>
                </div>
                <p id="overview">{{res.overview}}</p>
            </div>  
        </div>
    </script>
    <!-- END   templates: m-card-template  &  m-details-template  -->

    <!-- scripts -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="handlebars-v4.0.11.js"></script>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="node_modules/dateformat/lib/dateformat.js"></script>

    <script src="movies.js"></script>
    <script src="api.js"></script>
    <script src="ui.js"></script>

    <script src="main.js"></script>

</body>

</html>