 /* TODO CSS: #searchInput:hover color */

 /* TODO use the bootstrap */

 html {
     background-color: #cccccc;
 }

 #siteHeader {
     height: 100px;
     width: 100%;
     padding: 3%;
     padding-left: 27px;
     background-color: rgb(37, 37, 37);
     color: rgb(204, 204, 204);
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 25px;
     top: 0;
     position: fixed;
     z-index: 1;
 }

 #homepage:hover {
     cursor: pointer;
 }

 #searchInput {
     height: 50px;
     width: 100%;
     padding-left: 27px;
     background-color: rgb(124, 124, 124);
     color: rgb(219, 219, 219);
     position: fixed;
     top: 100px;
     z-index: 1;
 }

 #searchInput:hover {
     cursor: auto;
 }

 ::placeholder {
     color: rgb(182, 182, 182);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 17px;
 }

 #cardsDiv,
 #detailsDiv {
     position: relative;
     top: 150px;
 }

 /* #m-card-template */

 .item-card {
     background-color: #eeeeee;
     margin-left: 20px;
     margin-top: 20px;
     width: 500px;
     max-height: 300px;
     float: left;
 }

 .item-card:hover {
     cursor: pointer;
 }

 .posterDiv {
     /* border: 5px solid red; */
     width: 40%;
     min-height: 300px !important;
     float: left;
 }

 #card-poster {
     width: 100%;
 }

 .infoDiv {
     /* border: 5px solid black; */
     float: right;
     width: 60%;
     height: 300px !important;
     padding: 10px;
     padding-left: 20px;
 }

 .title {
     width: 100%;
     font-weight: 600;
     font-size: 1.1em;
 }

 p.overview {
     word-wrap: break-word;
     white-space: normal;
     color: #4d4d4d;
     font-size: 0.9em;
     line-height: 1.2em;
     margin-top: 30px;
     text-align: justify;
     width: 95%;
     height: 220px !important;
     overflow: auto;
 }

 /* m-details-template */

 div.background-details {
     width: 100%;
     height: 600px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     filter: opacity(.3);
     position: fixed;
 }

 #back {
     color: #4d4d4d;
     font-size: 200%;
     padding-left: 15px;
     padding-top: 15px;
 }

 div.item-details {
     /* border: 3px solid green; */
     position: fixed;
     width: 70%;
     margin-top: 90px;
     margin-right: 15%;
     margin-left: 15%;
 }

 div.poster-details {
     width: fit-content;
     height: fit-content;
     width: 25%;
 }

 #poster-details {
     float: left;
     width: 100%;
 }

 div.info-details {
     padding-left: 5%;
     padding-right: 5%;
     width: 75%;
     float: right;
     /* border: 2px solid red; */
 }

 h3#title {
     /* border: 1px solid black; */
     margin-bottom: 0%;
 }

 div#release {
     /* border: 1px solid black; */
     color: #4d4d4d;
 }

 div#link {
     /* border: 1px solid gold; */
     margin-top: 2%;
     margin-bottom: 5%;
     height: 30px;
 }

 div#link>a>i {
     font-size: 200%;
     color: #4d4d4d;
     margin-left: 0%;
     margin-right: 2%;
     /* border: 1px solid gold; */
 }

 p#overview {
     /* border: 1px solid gold; */
     width: 75%;
 }

 /* m-details-template */